.limeade-demo {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  overflow: auto;
  background-color: #F2F2F2;
  padding: 2rem;
  width: 100%;
}


.container {
  width: 50%;
  margin: 0 auto;
}

