<div class="limeade-demo">
  <div class="container">
    <div class="example">
      <h1>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Atque, commodi consequatur consequuntur dolor eligendi eveniet fugit magni nam necessitatibus non numquam odit porro quod, soluta veritatis vitae voluptas, voluptatem voluptates. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aut consectetur doloremque dolores eos ex iste magnam, maiores modi mollitia nesciunt pariatur praesentium ratione reiciendis rerum suscipit unde ut vero voluptatibus!</h1>
    </div>
    <div class="app__messages">
      <limeade-toast-factory></limeade-toast-factory>
    </div>
  </div>

  <button (click)="toast('success')">Success Toast</button>
  <br>
  <button (click)="toast('info')">Info Toast</button>
  <br>
  <button (click)="toast('warning')">Warning Toast</button>
  <br>
  <button (click)="toast('error')">Error Toast</button>

</div>
