<div class="limeade-demo">
  <div class="container">
    <div class="example">
      <limeade-toast [type]="'success'" [title]="'Success!'" [description]="'Your request was successful! Congrats on making it this far!'"></limeade-toast>
      <br>
      <limeade-toast [type]="'info'" [title]="'Info...'" [description]="'Did you know that Dr. Pepper has 23 unique flavors?'"></limeade-toast>
      <br>
      <limeade-toast [type]="'warning'" [title]="'Warning!'" [description]="'Something went wrong. We’re trying to fix it...'"></limeade-toast>
      <br>
      <limeade-toast [type]="'error'" [title]="'Error!'" [description]="'Could not login. Please contact your system admin for assistance.'"></limeade-toast>
      <br>
    </div>
  </div>
</div>
